table, th, td{
    border: 1px solid;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.form-container{
    margin-top: 20px;
    width: 20%;
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
}

input{
    margin-bottom: 10px;
    border-radius: 5px;
}

button{
    width: 20%;
    margin: auto;
}
